# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

Cpp/src/CMakeFiles/*
cmake_install.cmake
CMakeCache.txt
Cpp/bin/*
Cpp/src/Makefile
.vscode

*.so